{% load static %}
<!--#导入static函数，相当于内置函数，就是来定义静态文件路径的。-->
<!--双大括号使变量 大括号加百分号 使用函数-->
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>AI加工厂</title>
		<link rel='stylesheet' href='{% static "/css/base.css" %}'/>
		<link rel='stylesheet' href='{% static "/css/common.css" %}'/>
		<link rel='stylesheet' href='{% static "/css/page.css" %}'/>
		<script src='{% static "/js/jquery.min.js" %}'></script>
		<!--注意script 用src-->
		<!--使用函数static会去static_url setting的路径去找，第二参具体文件-->
	</head>
	<body>
		<header>
				<h1 class="aiLogo">AI 加工厂<h1>
		</header>
		<section class="wrap_body">
			
			<ul class="J_ulBox ulBoxList">
				<!--
				<li>
					<span class="fl wrap_l">
						<textarea>新闻新闻新闻新闻新闻</textarea>
						<p class="tr mt_20"><button class="btn_blue">提取摘要</button></p>
					</span>
					<span class="fr wrap_r">
						<textarea>新闻新闻新闻新闻新闻</textarea>
					</span>
				</li>
				-->
				
			</ul>
			<p class="tc mt_20"><button id="" class="J_nextPage btn_brown">换一批</button></p>
		</section>
		<footer>
			<p> 版权所有 © ph AI 加工厂 2017-2021 </p>
		</footer>
	</body>
</html>
<script>
$(function(){
	/*
	$.get('doShow',function(data){
		alert(data)
	})
	*/
	//注意$.get请求运到数据取下来中文乱码问题，不要用了
	doShow(1)

})
function doShow(page){
	$.ajax({
		url:'doShow?curPage='+page,
		type:'get',
		dataType:'json',
		data:{},
		success:function(data){
			//console.log(JSON.stringify(data))
			$(".J_ulBox").html("")
			if(data.length>0){
				for(var i=0; i<data.length;i++){
					var content = data[i].fields.content
					var classname = data[i].fields.classname
					
					var liBox = '<li class="mt_20">'+
							'<span class="fl wrap_l">'+
								'<textarea>'+content+'</textarea>'+
								'<p class="tr mt_20"><button class="btn_blue" onclick="showRightClass(this,\''+classname+'\')">新闻分类</button><button class="btn_blue ml_20" onclick="showRight(this)">提取摘要</button></p>'+
							'</span>'+
							'<span class="fl wrap_r">'+
								'<textarea></textarea>'+
							'</span>'+
						'</li>'
			
					$(".J_ulBox").append(liBox)
				}
			}

			//换一批
			$(".J_nextPage").unbind().bind('click',function(){
				nextPage = page+1
				doShow(nextPage)
			})

			
		},
		error:function(err){
			alert(err)
		}

	})
}
//显示摘要
function showRight(obj){
	$(obj).closest('span').next('span.wrap_r').find('textarea').text('功能更新中')
}
//显示分类
function showRightClass(obj,className){
	$(obj).closest('span').next('span.wrap_r').find('textarea').text(className)
}
</script>